@{
    ViewBag.Title = "Home Page";
}


@section breadcrumbs{

    <section class="content-header">
        <h1>
            Home
        </h1>
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
    </section>
}