@using NTierUoWExampleApp.Mvc.Helpers

@{
    ViewBag.Title = "ClientUsers";
}

@section breadcrumbs{
    <section class="content-header">
        <h1 class="page-header">
            Client users
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "WebApi")">Clients</a>
            </li>
            <li class="active">
                Client users
            </li>
        </ol>
    </section>
}

@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/css/ui.jqgrid.min.css">
}

<input type="hidden" id="ApplicationHostname" value="@ViewBag.AppUrl" />
<input type="hidden" id="clientId" value=@ViewBag.ClientId />

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Client users</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="pull-left">
                            <span><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input placeholder="Search" class="ebInput" id="grid_search" type="text" />

                            <span class="btn btn-sm btn-primary" id="search_grid_btn">Search</span>
                            <span class="btn btn-sm btn-danger" id="clear_search_grid_btn">Clear</span>
                        </span>
                        <span class="pull-right">
                            <a href="@Url.Action("CreateClient", "WebApi")" class="btn btn-sm btn-default">New Client</a>
                        </span>
                    </div>
                </div>

                <div class="space-10"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="overflow-auto">
                            <table id="client_users_grid_table"></table>
                            <div id="client_users_grid_table_pager"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--revoke token-->
<div id="RevokeClientUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Ajax.BeginForm("RevokeUser", "WebApi", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "clientUserManager.onRevokeUserSuccess(data)", OnFailure = "clientUserManager.onRevokeUserError(data)" }, new { @class = "form-submit-loader" }))
        {

            <input type="hidden" id="revoke_token_id" name="refreshTokenId" value="" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Revoke token</h4>
                </div>
                <div class="modal-body">
                    <span>Revoke: </span>
                    <span id="revoke_token_name"></span>
                    <span>?</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn">Revoke</button>
                </div>
            </div>
        }

    </div>
</div>





@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/jquery.jqgrid.min.js"></script>
    <script src="@Url.VersionedContent(@"~/Scripts/app/web-api/webapi.client-users.js")"></script>

    <script type="text/javascript">
        $(function () {
            clientUserManager.init();
        });
    </script>


}
