
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_TemplateEmpty.cshtml";
}


@section breadcrumbs{
    <section class="content-header">
        <h1 class="page-header">
            Reset password confirmation
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                Reset password confirmation
            </li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-xs-12">
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
